<!-- Footer -->
<footer class="footer py-24 sm:py-8 px-4 sm:px-6 lg:px-8 bg-[#202020]">
  <div class="footer__inner container mx-auto flex flex-col sm:flex-row justify-between items-center gap-16 sm:gap-3 lg:gap-6">
    <div class="footer__left text-center sm:text-left flex flex-col sm:flex-row sm:items-center gap-16 sm:gap-3 lg:gap-4 order-1 sm:order-none">
      <%= logo %>
      <a href="tel:+79880000000" class="footer__phone hidden sm:block text-white/90 text-xs lg:text-sm mt-0">+7 (988) 000 00 00</a>
    </div>
    <%= navLinks %>
    <a href="tel:+79880000000" class="footer__phone text-white/90 hover:text-white text-2xl sm:hidden order-3">+7 (988) 000 00 00</a>
  </div>
</footer>
