<button type="button" class="header__burger lg:hidden flex flex-col justify-center items-center w-10 h-10 rounded-lg text-[#202020] hover:bg-[#202020]/10 transition-colors" aria-expanded="false" aria-controls="header-nav" id="header-burger">
  <span class="header__burger-line w-6 h-0.5 bg-current rounded block mb-1.5 transition-transform"></span>
  <span class="header__burger-line w-6 h-0.5 bg-current rounded block mb-1.5 transition-transform"></span>
  <span class="header__burger-line w-6 h-0.5 bg-current rounded block transition-transform"></span>
</button>
