<nav class="footer__nav flex flex-col sm:flex-row flex-wrap sm:justify-center lg:flex-nowrap gap-4 sm:gap-2 lg:gap-8 text-center order-2 sm:order-none">
  <a href="index.html#conditions" class="footer__link text-white/90 hover:text-white text-2xl sm:text-xs lg:text-sm">Условия</a>
  <a href="index.html#specialists" class="footer__link text-white/90 hover:text-white text-2xl sm:text-xs lg:text-sm">Специалисты</a>
  <a href="index.html#reward" class="footer__link text-white/90 hover:text-white text-2xl sm:text-xs lg:text-sm">Вознаграждение</a>
  <a href="index.html#about" class="footer__link text-white/90 hover:text-white text-2xl sm:text-xs lg:text-sm">Про&nbsp;Архангел</a>
  <a href="privacy.html" class="footer__link text-white/90 hover:text-white text-2xl sm:text-xs lg:text-sm">Политика конфиденциальности</a>
</nav>
